<div class="container py-5">
  
    <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <p><%= @question.test.category %></p>
      <h2><%= @question.test.name %></h2>
    </div>

</div>
    <div class="progress mt-4">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      25%
    </div>

    <h2><%= @question.question %></h2>

    <div class="d-flex py-5 gap-3">
      <% @question.choices.each do |choice| %>
      <div class="btn btn-outline-primary rounded-3 px-4 py-3 text-decoration-none">
          <%= link_to choice.choice %>
      </div>
      <% end %>
    </div>

    <%= link_to "Question suivante", test_question_path, class: "btn btn-primary rounded-3 px-4 py-3 " %>

</div>


   <%= simple_form_for @question do |f| %>
      <%= f.button  %>
    <% end %>
