<div class="container py-5">

  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <p><%= @question.test.category %></p>
      <h2><%= @question.test.name %></h2>
    </div>
  </div>

  <div class="progress mt-4">
    <div class="progress-bar" role="progressbar" style="width: <%= @progress %>%;" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100">
      <%= @progress %>%
    </div>
  </div>

  <h2><%= @question.question %> (<%= @question.position %>/<%= @test.questions.count %>)</h2>

  <%= simple_form_for @user_answer do |f| %>

    <%= hidden_field_tag :question_id, @question.id %>

    <%= f.collection_radio_buttons :choice_id, @question.choices, :id, :choice %>

    <% if @question == @test.questions.last %>
      <%= f.submit 'Valider le test', class: 'btn btn-outline-primary rounded-3 px-4 py-3' %>
    <% else %>
      <%= f.submit 'Question suivante', class: 'btn btn-outline-primary rounded-3 px-4 py-3' %>
    <% end %>

  <% end %>
</div>
