<div class="container question-container">

  <div class="d-flex gap-4">
    <%= image_tag 'img-test-1.png', class: "icon-width" %>

    <div class="d-flex flex-column gap-1 justify-content-center flex-grow-1">
      <%# <p>Catégorie : = @question.test.category</p> %>
      <h2 class="fst-italic"><%= @question.test.name %></h2>
      <div class="progress mt-2 w-100">
        <div class="progress-bar" role="progressbar" style="width: <%= @progress %>%;" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
  </div>



  <h4 class="title-inter mb-4 mt-5"><%= @question.position %>/<%= @test.questions.count %> - <%= @question.question %></h4>

  <div class="questions_form">
    <%= simple_form_for @user_answer do |f| %>

      <%= hidden_field_tag :question_id, @question.id %>

      <div class="form-grid">
        <%= f.collection_radio_buttons :choice_id, @question.choices, :id, :choice do |b| %>
            <%= b.radio_button(class: "radio-button") %>
            <%= b.label(class: "label-button") %>
        <% end %>
      </div>

      <div class="d-flex mt-4 justify-content-center">
        <% if @question == @test.questions.last %>
          <%= f.submit 'Valider le test', class: 'btn-principal' %>
        <% else %>
          <%= f.submit 'Question suivante', class: 'btn-principal' %>
        <% end %>
      </div>

    <% end %>
  </div>

</div>
