<div class="container py-5">

  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <p><%= @question.test.category %></p>
      <h2><%= @question.test.name %></h2>
    </div>
  </div>

  <div class="progress mt-4">
    <div class="progress-bar" role="progressbar" style="width: <%= @progress %>%;" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100">
      <%= @progress %>%
    </div>
  </div>

  <h2 class="my-5"><%= @question.position %>/<%= @test.questions.count %> - <%= @question.question %></h2>

  <div class="questions_form">
    <%= simple_form_for @user_answer do |f| %>

      <%= hidden_field_tag :question_id, @question.id %>

      <%= f.collection_radio_buttons :choice_id, @question.choices, :id, :choice %>

      <div class="d-flex mt-5 justify-content-center">
        <% if @question == @test.questions.last %>
          <%= f.submit 'Valider le test', class: 'btn-principal' %>
        <% else %>
          <%= f.submit 'Question suivante', class: 'btn-principal' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
