<%= turbo_frame_tag :job_description, class:"row" do %>

  <%# ! COLONNE 2 %>
    <%# ! JOB DESCRIPTION %>
  <div class="col-4 text-start">
    <div class="d-flex flex-column justify-content-between h-100">
      <%= render 'jobs/description', job: job %>

    <%# ! FORMATIONS DISPONIBLES %>
      <%= render 'jobs/formation', formations_for_job: @formations_for_job %>
    </div>
  </div>

  <%# ! COLONNE 3 %>
  <div class="col-4 text-center">
    <div class="d-flex flex-column justify-content-between h-100">
      <%# ! PIE CHART %>
      <div class="border border-dark-2 rounded-4 h-75 mb-3 pt-3">
          <%= pie_chart @category_score,
          donut: true,
          colors: ["#1700AD", "#0072E6", "#00ABB2", "#78D67E"],
          library: {
            plugins: {legend: {position: 'bottom'}},
            animation: { duration: 2000, easing: "easeOutBounce" }
          }
          %>
      </div>
      <%# ! JOB SALARY%>
      <%= render 'jobs/salary', job: job %>
    </div>
  </div>
<% end %>
