<div class="d-flex p-4 back-cards">

  <div class="hor-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path test.img_name, height: 200, width: 200, crop: "fit" %>')">
    <%= image_tag test.img_icon, width: 150, height: 150, crop: :fit %>
  </div>

  <div class="category-card">
    <div class="d-flex gap-2 labels">
      <p class="border p-2 radius-1"> <%= test.category %> </p>
    </div>
    <h3 class="title-inter"> <%= test.name %> </h3>
    <p class="w-70"><%= test.description %></p>
  </div>

  <div class="card-btn d-flex flex-column align-items-center">
    <% path = test.first_question ? question_path(test.first_question) : "#" %>
    <%= link_to "Commencez le test", path, data: { turbo: false }, class: "btn-principal-larg" %>
    <%= link_to "En savoir plus", test_path(test), data: { turbo: false }, class: "btn-principal-bord" %>
  </div>

</div>
