<div class="container-fluid sticky-top z-0">

  <%= render 'shared/test_show',  img_name: @test.img_name,
                                  img_icon: @test.img_icon,
                                  title: @test.category,
                                  name: @test.name,
                                  description: @test.description,
                                  nb_questions: @test.nb_questions,
                                  duration: @test.duration %>
</div>

<div class="container-fluid testimonial">
  <div class="container">
    <h2 class="black pt-5 text-center">Propulse vous aide<br>à construire votre avenir</h2>

    <div class="py-5 grid-3">

      <%= render 'shared/testimonials', class: "span-1",
                                        imgIcon: "avatar-1.png" %>
      <%= render 'shared/testimonials', class: "span-1",
                                        imgIcon: "avatar-2.png" %>
      <%= render 'shared/testimonials', class: "span-1",
                                        imgIcon: "avatar-3.png" %>
    </div>
  </div>
</div>
<div class="w-100 newsletter py-5 z-3">
  <%= render 'shared/newsletter' %>
</div>
