<!DOCTYPE html>
<html>
  <head>
    <title>ProPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= favicon_link_tag asset_path("logo.png")%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar", white_mode: false %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <% if @show_render %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
